.section {
    color: var(--title-text-color);

    padding-top: 94px;
    padding-bottom: 94px;
    &.wrap-section {
     padding-bottom: 0px;
    }
    &.command {
    background-color: #F5F4FA;
    }
}