:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --secondary-bg-color: #2f303a;
    --primary-bg-button: #f5f4fa;
    --var-logo-icon-contact: #757575;
    --portfolio-cards-color: rgba(33, 150, 243, 0.9);
}